---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Zonal Baby Futbol Masculino 2024">
	<main>
		<h1 class="text-white animate-blurred-fade-in">Zonal Baby Futbol Masculino 2024</h1>
		<p>El Zonal Baby Futbol Masculino 2024 se llevará a cabo en 
			el municipio de <strong>Funes</strong> sur de Nariño
		</p>

	</main>
</Layout>


