---
import Layout from '@/layouts/Layout.astro';

import Countdown from "@/sections/Countdown.astro"
import Footer from "@/sections/Footer.astro"
import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
import Sponsors from '@/sections/Sponsors.astro';
import PresentationVideo from '@/sections/PresentationVideo.astro';
---

<Layout title="Zonal Baby Futbol Masculino 2024 Nariño" description='Evento de Fútbol Clasificatorio al Zonal Nacional Sur Occidente de Colombia 2024 Categoría Masculino 2012 - 2013 Municio de Funes Sur de Nariño - 2024' preloadImgLCP="https://zonal-baby-futbol-masculino.vercel.app/Zonal%20Baby%20Masculino.webp">
	<Hero/>
	<main>
		<PrincipalDate/>
		<Info/>
		<PresentationVideo/>
		<Countdown/>
		<Sponsors/>
	</main>
	<Footer/>
</Layout>



