---
import Layout from '@/layouts/Layout.astro';
import Footer from "@/sections/Footer.astro"
import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
import Sponsors from '@/sections/Sponsors.astro';
import PresentationVideo from '@/sections/PresentationVideo.astro';
import Teams from '@/components/Teams.astro';
import TableGrupos from '@/components/TableGrupos.astro';
import TablePosicion from '@/components/TablePosicion.astro';
---

<Layout title="Baby Futbol Masculino 2024 Nariño" description='Evento de Fútbol Clasificatorio al Zonal Nacional Sur Occidente de Colombia 2024 Categoría Masculino 2012 - 2013 Municio de Funes Sur de Nariño - 2024' preloadImgLCP="https://baby-futbol-masculino-funes.vercel.app/Zonal%20Baby%20Masculino.svg">
	<Hero/>
	<main>
		<PrincipalDate/>		
		<Teams/>
		<Info/>
		<PresentationVideo/>		
		<Sponsors/>
	</main>
	<Footer/>
</Layout>



