---
import Layout from '@/layouts/Layout.astro';

import Countdown from "@/sections/Countdown.astro"
import Footer from "@/sections/Footer.astro"
import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
---

<Layout title="Zonal Baby Futbol Masculino 2024">
	<Hero/>
	<main>
		<PrincipalDate/>
		<Info/>
		<Countdown/>
	</main>
	<Footer/>
</Layout>


