---
import { RES_CUARTOS } from "@/consts/cuartos";
import Subtitle from "@/components/Subtitle.astro";
import SubtitleFooter from "@/components/SubtitleFooter.astro";
import Title from "@/components/Title.astro";
let teams = Array(16).fill(null);
RES_CUARTOS.forEach((team) => {
  teams[Number(team.id) - 1] = team;
});
---

<div id="accordion-collapse-cuartos" data-accordion="collapse-cuartos">
  <h2 id="accordion-collapse-cuartos-heading-3">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-collapse-cuartos-body-3"
      aria-expanded="false"
      aria-controls="accordion-collapse-cuartos-body-3"
    >
      <span>👉📅Cuartos de Final: Mañana Sábado 20 de Abril 2024👈</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"></path>
      </svg>
    </button>
  </h2>
  <div
    id="accordion-collapse-cuartos-body-3"
    class="hidden"
    aria-labelledby="accordion-collapse-cuartos-heading-3"
  >
    <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
      <Subtitle />
      <section
        class="mt-4 text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
      >
        <Title title="Cuartos de Final: Sábado 20 de Abril" />

        <div>INICIACIÓN DEL PARTIDO HORA EXACTA</div>
      </section>

      <div class="relative flex items-center justify-center">
        <img
          src="babyfutbol.webp"
          alt="Background Image"
          class="absolute w-auto h-72 object-cover opacity-15"
        />
        <table
          class="w-full text-center text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
        >
          <tbody>
            <tr class="mb-10 bg-table-green-cabecera text-white font-bold p-4">
              <td class="py-3 font-semibold">HORA</td>
              <td class="py-3 font-semibold">EQUIPO</td>
              <td class="py-3 font-semibold">MARCADOR</td>
              <td class="py-3 font-semibold">EQUIPO</td>
            </tr>
            <tr class="mb-10 bg-table-green p-4">
              <td class="py-1 px-0 font-semibold">08:00 A.M.</td>
              <td class="text-primary">
                <span class="text-primary">
                  {"pos.1" + " " + teams[0]?.name ?? "pos.1"}
                </span>
              </td>
              <td class="text-primary">
                <div class="grid grid-cols-3 gap-2">
                  <div class="text-center font-semibold">1</div>
                  <div class="text-center">-</div>
                  <div class="text-center font-semibold">2</div>
                </div>
              </td>
              <td class="text-primary">
                {"pos.8" + " " + teams[7]?.name ?? "pos.8"}
              </td>
            </tr>

            <tr class="mb-10 bg-white p-4">
              <td class="py-1 px-0 font-semibold">09:10 A.M.</td>
              <td class="text-primary">
                <span class="text-primary">
                  {"pos.2" + " " + teams[1]?.name ?? "pos.2"}
                </span>
              </td>
              <td class="text-primary">
                <div class="grid grid-cols-3 gap-2">
                  <div class="text-center font-semibold">3</div>
                  <div class="text-center">-</div>
                  <div class="text-center font-semibold">0</div>
                </div>
              </td>
              <td class="text-primary">
                {"pos.7" + " " + teams[6]?.name ?? "pos.7"}
              </td>
            </tr>

            <tr class="mb-10 bg-table-green p-4">
              <td class="py-1 px-0 font-semibold">10:20 A.M.</td>
              <td class="text-primary">
                <span class="text-primary">
                  {"pos.3" + " " + teams[2]?.name ?? "pos.3"}
                </span>
              </td>
              <td class="text-primary">
                <div class="grid grid-cols-3 gap-2">
                  <div class="text-center font-semibold">3</div>
                  <div class="text-center">-</div>
                  <div class="text-center font-semibold">0</div>
                </div>
              </td>
              <td class="text-primary">
                {"pos.6" + " " + teams[5]?.name ?? "pos.6"}
              </td>
            </tr>

            <tr class="mb-10 bg-white p-4">
              <td class="py-1 px-0 font-semibold">11:30 A.M.</td>
              <td class="text-primary">
                <span class="text-primary">
                  {"pos.4" + " " + teams[3]?.name ?? "pos.4"}
                </span>
              </td>
              <td class="text-primary">
                <div class="grid grid-cols-3 gap-2">
                  <div class="text-center font-semibold">4</div>
                  <div class="text-center">-</div>
                  <div class="text-center font-semibold">1</div>
                </div>
              </td>
              <td class="text-primary">
                {"pos.5" + " " + teams[4]?.name ?? "pos.5"}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <section
          class="text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
        >
          <br />
          <span class="font-bold"> NOTA:</span>
          En caso de empate en esta etapa se cobrarán tiros libres desde el punto
          penal
          <section
            class="text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
          >
            <br />
            <span class="font-bold"> OBSERVACIÓN:</span>
            🛑 Se emite una amonestación escrita el día 20 de abril de 2024 durante
            el primer partido de los cuartos de final a la barra del equipo Sucre,
            debido a su comportamiento y uso de palabras soeces. Como consecuencia,
            se restan 20 puntos en el juego limpio para su equipo. 🛑
            <a
              href="https://festivaldefestivales.com/wp-content/uploads/2023/04/Reglamento-Festival-Babyfutbol-2023-2024-OFICIAL.pdf"
              target="_blank"
              class="text-blue-500 underline">Pag. 14 Reglamentación</a
            >
            <br />
            <section class="mt-1">
              🛑 Se realiza la expulsión del técnico del Sporting el día 20 de
              abril de 2024 durante el segundo partido de los cuartos de final
              por Agresión verbal e intimidación al árbitro central, y se aplica
              la sanción de 20 puntos según la reglamentación. 🛑
              <a
                href="https://festivaldefestivales.com/wp-content/uploads/2023/04/Reglamento-Festival-Babyfutbol-2023-2024-OFICIAL.pdf"
                target="_blank"
                class="text-blue-500 underline">Pag. 14 Reglamentación</a
              >
            </section>
          </section>
        </section>

        <SubtitleFooter />
      </div>
    </div>
  </div>

  <div id="accordion-collapse-Semifinal" data-accordion="collapse-Semifinal">
    <h2 id="accordion-collapse-Semifinal-heading-3">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
        data-accordion-target="#accordion-collapse-Semifinal-body-3"
        aria-expanded="false"
        aria-controls="accordion-collapse-Semifinal-body-3"
      >
        <span>👉📅Semifinal: Tarde Sábado 20 de Abril 2024👈</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"></path>
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-Semifinal-body-3"
      class="hidden"
      aria-labelledby="accordion-collapse-Semifinal-heading-3"
    >
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <Subtitle />
        <Title title="Semifinal: SÁBADO 20 DE ABRIL" />
        <section
          class="text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
        >
          <span class="font-bold"> Sábado 20 de Abril </span>
          de 2024 Estadio Municipal Funes.
        </section>

        <div class="relative flex items-center justify-center">
          <img
            src="babyfutbol.webp"
            alt="Background Image"
            class="absolute w-auto h-72 object-cover opacity-15"
          />
          <table
            class="w-full text-center text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
          >
            <tbody>
              <tr
                class="mb-10 bg-table-green-cabecera text-white font-bold p-4"
              >
                <td class="py-3 font-semibold">HORA</td>
                <td class="py-3 font-semibold">EQUIPO</td>
                <td class="py-3 font-semibold">MARCADOR</td>
                <td class="py-3 font-semibold">EQUIPO</td>
              </tr>
              <tr class="mb-10 bg-table-green p-4">
                <td class="py-1 px-0 font-semibold">03:OO P.M. A</td>
                <td class="text-primary">
                  <span class="text-primary">
                    {" Ganador P1:"}
                    <span class="font-semibold">Atlético Sucre Ipiales</span>
                  </span>
                </td>
                <td class="text-primary">
                  <div class="grid grid-cols-3 gap-2">
                    <div class="text-center font-semibold">0</div>
                    <div class="text-center">-</div>                    
                    <div class="text-center font-semibold">3</div>
                  </div>
                </td>
                <td class="text-primary">
                  {"Ganador P3:"}<span class="font-semibold">Esc. W.A.Mora Samaniego</span>
                </td>
              </tr>

              <tr class="mb-10 bg-white p-4">
                <td class="py-1 px-0 font-semibold">04:15 P.M. B</td>
                <td class="text-primary">
                  <span class="text-primary">
                    {"Ganador P2:"}
                    <span class="font-semibold">Asoc. Dep. Pasto.</span>
                  </span>
                </td>
                <td class="text-primary">
                  <div class="grid grid-cols-3 gap-2">
                    <div class="text-center font-semibold">2</div>
                    <div class="text-center">-</div>
                    <div class="text-center font-semibold">1</div>
                  </div>
                </td>
                <td class="text-primary">
                  {"Ganador P4: "}<span class="font-semibold">CAR Nariño.</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <section class="w-full text-center text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl">
          🛑 El día 20 de abril, durante el segundo partido de la semifinal, se realiza sanción a CAR Nariño con una penalización de -40 puntos en el juego limpio, debido a la invasión al terreno de juego, agresión verbal e intento de agresión física hacia los árbitros. 🛑

          <a href="https://festivaldefestivales.com/wp-content/uploads/2023/04/Reglamento-Festival-Babyfutbol-2023-2024-OFICIAL.pdf" target="_blank" class="text-blue-500 underline">Pag. 14 Reglamentación</a>
          </section>
      </section>


        <SubtitleFooter />
        <section
          class="text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
        >
          <span class="font-bold"> NOTA:</span>
          Los ganadores de esta fase pasarán a jugar por el primer y segundo puesto
          y los perdedores por tercer y cuarto puesto, en caso de empate en esta
          etapa se cobrarán tiros libres desde el punto penal.
        </section>
      </div>
    </div>
  </div>
  <Title title="***Final***" />
  <div id="accordion-collapse-FINAL" data-accordion="collapse-FINAL">
    <h2 id="accordion-collapse-FINAL-heading-3">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
        data-accordion-target="#accordion-collapse-FINAL-body-3"
        aria-expanded="false"
        aria-controls="accordion-collapse-FINAL-body-3"
      >
        <span>👉🏆FINAL Domingo 21 de Abril de 2024🏆👈</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"></path>
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-FINAL-body-3"
      class="hidden"
      aria-labelledby="accordion-collapse-FINAL-heading-3"
    >
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <Subtitle />
        <section
          class="text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
        >
          <span class="font-bold"> Domingo 21 </span>
          de Abril de 2024
        </section>

        <table
          class="mt-10 w-full text-center text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
        >
          <tbody>
            <tr class="mb-10 bg-table-green-cabecera text-white font-bold p-4">
              <td class="py-3 font-semibold">HORA</td>
              <td class="py-3 font-semibold">EQUIPO</td>
              <td class="py-3 font-semibold">MARCADOR</td>
              <td class="py-3 font-semibold">EQUIPO</td>
            </tr>
            <tr class="mb-10 bg-white p-4">
              <td class="py-1 px-0 font-semibold">10:30 A.M. B</td>
              <td class="text-primary">
                <span class="text-primary">
                  {"Ganador A"}: <span class="font-semibold">Esc. W.A.Mora Samaniego</span>
                </span>
              </td>
              <td class="t</span>ext-primary">
                <div class="grid grid-cols-3 gap-2">
                  <div class="text-center font-semibold">2</div>
                  <div class="text-center">-</div>
                  <div class="text-center font-semibold">1</div>
                </div>
              </td>
              <td class="text-primary">
                {"Ganador B: "} <span class="font-semibold">Asoc. Dep. Pasto</span>
              </td>
            </tr>
          </tbody>
        </table>

        <section
          class="text-black text-primary text-sm sm:text-sm md:text-base lg:tex</td>t-lg xl:text-xl 2xl:text-xl"
        >
          <span class="font-bold"> NOTA:</span>
          EN CASO DE EMPATE SE JUGARAN 2 TIEMPOS EXTRAS Y DE PERSISTIR EL EMPATE
          TIROS DESDE EL PUNTO PENALTI
        </section>
        <SubtitleFooter />
      </div>
    </div>
  </div>

 

  <Title title="***Premiación***" />

  <section
    class="text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
  >
  <Subtitle />
    <span class="font-bold"> Domingo 21 </span>
    de abril de 2024 ⏰ por Definir A.M.
  </section>

  <section
    class="text-black text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
  >
    <table class="mt-5">
      <tr>
        <td class="font-bold">🥇Campeón: <span class="font-normal">Esc. W.A.Mora Samaniego</span></td>
      </tr>
      <tr>
        <td class="font-bold">🥈Subcampeón: <span class="font-normal">Asoc. Dep. Pasto.</span></td>
      </tr>
      <tr>
        <td class="font-bold">🥉Tercer Puesto: <span class="font-normal">Atlético Sucre Ipiales</span></td>
      </tr>
      <tr>
        
      </tr>
      <tr>
        <td class="font-bold">⚽Goleador: <span class="font-normal"> Asoc. Dep. Pasto. : <span class="font-semibold">Daniel España, 12 Goles Realizados</span> </span> </td>
      </tr>
      <tr>
        <td class="font-bold"> 🥅Valla Menos Vencida: <span class="font-normal"> Esc. W.A.Mora Samaniego</span> <span class="font-bold">Jacobo Rosas, 1 gol en contra</span></td>
      </tr>
    </table>
    <SubtitleFooter />
  </section>
</div>
