---
let { src } = Astro.props;
---

<section>
  <iframe
    class="flex justify-center items-center mt-5"
    src={src}
    width="480"
    height="449"
    style="border:none;overflow:hidden"
    scrolling="no"
    frameborder="0"
    allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
  ></iframe>
</section>
