---
import { SPONSORS } from "@/consts/sponsors"
---
<section class="mt-20">
    <div class="flex justify-center items-center gap-x-4">
        <img src={`/Zonal Baby Masculino.svg`} alt="Image 1" class="w-24 h-1/6">
        <img src={`/logoFunes.webp`} alt="Image 2" class="w-10 h-1/6">
        <img src={`/Fenix.webp`} alt="Image 3" class="w-10 h-1/6">
        <img src={`/Sacha.webp`} alt="Image 4" class="w-10 h-1/6">
        <img src={`/Minerales.webp`} alt="Image 5" class="w-16 h-1/6">
    </div>
    <div class="flex justify-center gap-1">
        <img src={`/cauca.webp`}alt="Image 6" class="w-28 h-1/6">
        <img src="jamez.webp" alt="Image 1" class="w-36 h-1/6">
        <img src="coacremat.webp" alt="Image 2" class="w-28 h-1/6">
    </div>
    <h2
    class="text-center text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
    >
    I Zonal Regional BABY FÚTBOL Nariño,<br>
    Funes, abril 16 al 21 de 2024 <br>
    Clasificatorio al Zonal Nacional Sur Occidente de Colombia 2024 
    y proyección al Festival de Festivales Medellín 2025. <br>
    CATEGORIA 2012 - 2013 <br>
    Apoyo: <span class="font-semibold" >Jamez Cundar Zambrano alcalde Funes 2024 – 2027 </span>
    </h2>
</section>