---
import { SPONSORS } from "@/consts/sponsors"
---
<section class="mt-5">
    <div class="grid grid-cols-12">
        <div class="col-span-1">
            <img src={`/liganarino.webp`} alt="Image 6" class="w-16 h-auto">
            <img src="osbol.webp" alt="Image 1" class="w-16 h-auto">
        </div>
        <div class="col-span-10">
            <h2 class="text-center text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl">
                FUNDACIÓN ALIANZA SURENA   OSCAR ARMANDO BOLAÑOS CASTRO <br>
                Coordinador BABY FÚTBOL  Zonal Regional BABY FÚTBOL Nariño. <br>
                Móvil WhatsApp 3183773718 <br>
                Aval: <span class="font-bold"> Corporación Deportiva Los Paisitas de Medellín. </span>
            </h2>
        </div>
        <div class="col-span-1">
            <img src={`/losPaisitas.webp`} alt="Image 1" class="w-16 h-auto">
            <img src={`/ALIANZA SUREÑA FULL COLOR FONDO OSCURO CENTRAL.webp`} alt="Image 2" class="w-10 h-auto">            
        </div>
    </div>
</section>