---
let { title } = Astro.props;
---

<h2
  class="py-10 text-center font-bold text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl"
>
  <span
    class="animate-fade-in animate-delay-300
uppercase text-white bg-black px-6 mb-9 font-medium"
  >
    {title}
  </span>
</h2>
