---
import HeroLogo from '@/components/HeroLogo.astro'
---
<section class="flex flex-col justify-center items-center gap-9">
    <span class="text-xl uppercase text-white bg-black px-6 py-1 mb-9 font-medium">
        CATEGORÍA 2012 - 2013
    </span>    
    <HeroLogo class="w-full h-auto" />
</section>