---
import HeroLogo from '@/components/HeroLogo.astro'
---
<section class="flex flex-col justify-center items-center gap-3">       
    <HeroLogo 
    class="animate-fade-in-up w-[300px] h-auto md:w-[500px] " />
    <span class="animate-fade-in animate-delay-300 text-xl uppercase text-white bg-black px-6 mb-9 font-medium">
        CATEGORÍA 2012 - 2013
    </span>
    
    <span class="animate-fade-in animate-delay-300 text-center text-primary text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-xl uppercase text-white bg-black px-6 mb-9 font-medium">
        Aval: Corporación Deportiva Los Paisitas de Medellín
    </span>
</section>