---
---

<section class="flex font-medium text-black gap-y-10 mt-32
flex-col">
    <div class="flex justify-center items-center">
        <a class="hover:scale-125
        hover:opacity-70 transition inline-block"
        href="https://www.facebook.com/oscararmando.futurasestrellas"
        target="_blank" rel="nofollow noopener noreferrer">
        <img src="./facebook.svg" alt="Logo de Facebook">
    </a>
    </div>



    <div class="flex flex-col md:flex-row gap-4 uppercase gap-x-10"
    >
    <article class="order-2 flex justify-center items-center text-xl py-20 px-10 border-y-2 border-black">
        <h5 class="w-56 text-center">
            Clasificatorio al Zonal Nacional Sur Occidente de Colombia 2024.
        </h5>
    </article>
    <article class="order-1 flex justify-center items-center text-xl py-20 px-10 md:border-y-2 
    border-t-2 border-black">
        <h4>
            <a class="hover:text-white transition hover:scale-110
            inline-block"
            href="https://www.funes-narino.gov.co/"
        target="_blank" rel="nofollow noopener noreferrer">
        Alcaldía Municipal de Funes Unidos Haremos Historía oficina de deportes. </h4>
        </a>
    </article>
    <article class="order-3 flex justify-center items-center text-xl py-20 px-10 border-y-2 border-black">
        <h5>
            <a class="hover:text-white transition hover:scale-110
            inline-block"
            href="https://festivaldefestivales.com/"
        target="_blank" rel="nofollow noopener noreferrer">
            Aval corporación social y deportiva los Paisitas de Medellín.</h5>
        </a>
    </article>
</div>

</section>