---
import LiteYouTube from "@/components/LiteYouTube.astro";
import Typography from "@/components/Typography.astro";
---

<section class="overflow-hidden px-2 py-2 md:py-80">
  <div class="relative mt-8">
    <LiteYouTube
      videoId="cMpz7x7mzfw"
      backgroundImage="/video-presentation-cover.webp"
    />
  </div>
</section>
