---
import { RES_GOLEADORES } from "@/consts/goleadores";

---
<table>
    <thead>
        <tr>
            <th>Equipo</th>
            <th>Goleador</th>
            <th>Goles</th>
        </tr>
    </thead>
    <tbody>
        {RES_GOLEADORES.map((equipo) => (
            equipo.goleadores && equipo.goleadores.map((goleador: any) => (
                <tr data-key={goleador.id}>
                    <td>{equipo.name}</td>
                    <td>{goleador.name}</td>
                    <td>{goleador.goles}</td>
                </tr>
            ))
        ))}
    </tbody>
</table>



